<div class="navbar navbar-expand-md fixed-top">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "jg-icon.svg" %>
  <% end %>

  <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "Qui suis-je?", "#about", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Expériences", "#experiences", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Compétences", "#skills", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Projets", "#projects", class: "nav-link" %>
      </li>
<!--       <li class="nav-item">
        <%= link_to "Fun Facts", "#fun-facts", class: "nav-link" %>
      </li> -->
      <li class="nav-item">
        <%= link_to image_tag("contact.svg"), "#contact-form", class: "contact-icon nav-link" %>
      </li>
    </ul>
  </div>
</div>
