<div class="skills text-container">
  <h1>Compétences</h1>
  <div class="skill-cards-container">

    <div class="skill-card">
      <div class="skill-text">
        <h2><%= image_tag "design.svg", size: "95" %></h2>
        <h3>Design (UX/UI)</h3>
        <p>Conception de produits Web mobile-first, réflexion user-centric dans la résolution des problèmes identifiés, conception d'interfaces.</p>
      </div>
      <div class="skill-logos">
        <%= image_tag "figma.svg", class: 'logo' %>
        <%= image_tag "sketch.svg", class: 'logo' %>
        <%= image_tag "adobe-xd.svg", class: 'logo' %>
        <%= image_tag "photoshop.svg", class: 'logo' %>
        <%= image_tag "illustrator.svg", class: 'logo' %>
      </div>
    </div>

    <div class="skill-card">
      <div class="skill-text">
        <h2><%= image_tag "code.svg", size: "95" %></h2>
        <h3>Code</h3>
        <p>Code front-end des interfaces.</p>
      </div>
      <div class="skill-logos">
        <%= image_tag "rails.svg", class: 'logo' %>
        <%= image_tag "javascript.svg", class: 'logo' %>
        <%= image_tag "css.svg", class: 'logo' %>
        <%= image_tag "sass.svg", class: 'logo' %>
        <%= image_tag "bootstrap.svg", class: 'logo' %>
        <%= image_tag "stimulus.png", class: 'logo' %>
        <%= image_tag "html.svg", class: 'logo' %>
        <%= image_tag "git.svg", class: 'logo' %>
        <%= image_tag "github.svg", class: 'logo' %>
      </div>
    </div>

    <div class="skill-card">
      <div class="skill-text">
        <h2><%= image_tag "business.svg", size: "95" %></h2>
        <h3>Business</h3>
        <p>Compréhension des enjeux économiques du client, de ses acteurs et de sa vision.</p>
      </div>
      <div class="skill-logos"></div>
    </div>

  </div>
</div>
