<div class="main-banner">
  <h1 class="main-title">Juliette</h1>
  <h2 class="main-subtitle">front end developper junior</h2>
</div>

<%= render 'about' %>

<%= render 'experiences' %>


<%= render 'skills' %>

<%= render 'projects' %>

<%= render 'contact_form' %>

