<div class="banner home-banner">
  <div class="title">
    <h2>Product Designer</h2>
    <h2>Front-End developer</h2>
  </div>
</div>

<%= render 'about' %>

<%= render 'experiences' %>


<%= render 'skills' %>

<%= render 'projects' %>

<%= render 'contacts/contact_form' %>




