<!-- <div class="main-banner">
  <h1 class="main-title">Juliette</h1>
  <h2 class="main-subtitle">front end developper junior</h2>
</div> -->
<div class="main-banner">
  <div class="title">
    <h2>Product Designer</h2>
    <h2>Front-End developer junior</h2>
  </div>
</div>

<%= render 'about' %>

<%= render 'experiences' %>


<%= render 'skills' %>

<%= render 'projects' %>

<%= render 'contact_form' %>




