<div class="banner project-banner">
  <div class="blurry-box">
    <div class="title">
      <h1>Design & Code</h1>
      <h2>IPM Solutions</h2>
    </div>
  </div>
</div>
<div class="project">
  <div class="project-shape-top">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
    </svg>
  </div>
</div>
<div class="projects">
  <div class="text-container">
    <div class="grid-description">
      <div class="title-description pain"></div>
      <div class="description">
        <p>Dans un contexte BtoB entre artisans du bâtiment et un fournisseur industriel (par exemple un fournisseur de fenêtres), le suivi de commandes est un casse-tête
        qui se termine toujours par des échanges d'emails interminables et des incompréhensions téléphoniques ! Les artisans sont perdus dans les délais, les prix, les spécificités
        techniques... et ne sont pas autonomes.</p>
      </div>
    </div>
    <div class="grid-description">
      <div class="title-description gain"></div>
      <div class="description">
        <p>La plateforme IPM permet aux clients d'avoir accès à la bonne Information, à la bonne Personne, au bon Moment !</p>
      </div>
    </div>
    <div class="xxx">
      <h3>Point de départ</h3>
      <p>La plateforme existait depuis 6 ans, codée en Google Script, elle ressemblait à ça :</p>
      <%= image_tag 'v2.png' %>
      <p>La motivation à ce stade pour le dirigeant est de rendre cette plateforme "moderne", plus facile d'accès pour ses utilisateurs.</p>
    </div>
    <div class="xxx">
      <h3>Charte graphique</h3>
      <%= image_tag 'IPM-charte.png' %>
    </div>
    <div class="xxx">
      <h3>Maquettage de la nouvelle version</h3>
      <%= image_tag 'IPM-figma.png' %>
    </div>
    <div class="xxx">
      <h3>Design du Workflow</h3>
      <%= image_tag 'IPM-workflow' %>
    </div>
    <div class="xxx">
      <h3>Développement</h3>
      <p>STACK</p>
        <div class="stack-logos">
          <%= image_tag "rails.svg", class: 'logo' %>
          <%= image_tag "javascript.svg", class: 'logo' %>
          <%= image_tag "css.svg", class: 'logo' %>
          <%= image_tag "sass.svg", class: 'logo' %>
          <%= image_tag "bootstrap.svg", class: 'logo' %>
          <%= image_tag "stimulus.png", class: 'logo' %>
          <%= image_tag "html.svg", class: 'logo' %>
          <%= image_tag "git.svg", class: 'logo' %>
          <%= image_tag "github.svg", class: 'logo' %>
        </div>
    </div>
    <div class="xxx">
      <h3>Résultat</h3>
      <p>La plateforme a été développée par une équipe de 5 développeurs, en 4 mois.</p>
      <p>35 opérateurs à l'usine et environ 2000 clients l'utilisent quotidiennement !</p>
      <%= link_to "https://www.ekonet.fr", target: '_blank' do %>
        <%= image_tag 'ekonet.png', class: 'button-shadow button-shadow-white' %>
      <% end %>
    </div>
  </div>
</div>
