<div class="contact-form">
  <section id="contact-form">
    <div class="active" id="wrap-action">
      <% if flash[:alert] %>
        <div id="flash-message">
          <%= render 'shared/flash' %>
        </div>
      <% end %>
      <% if flash[:notice] %>
        <div id="flash-message">
          <%= render 'shared/flash' %>
        </div>
      <% end %>
      <button id="action" class="button-shadow button-shadow-pink">Say hi ! <span class="wave">👋🏻</span></button>
    </div>
    <svg viewBox="0 0 215 110" preserveAspectRatio="none">
      <polygon class="polymorph" points="215,110 0,110 0,0 215,0"></polygon>
    </svg>
    <div class="container">
      <div id="content">
        <%= form_for(ContactForm.new, url: contacts_path) do |f| %>
          <div>
            <div class="form-with-label">
              <%= f.label :name %>
              <%= f.text_field  :name, required: true, class: "contacts-form-text-area" %>
            </div>
            <div class="form-with-label">
              <%= f.label :email %>
              <%= f.text_field :email, required: true, class: "contacts-form-text-area" %>
            </div>
            <%= f.text_area :message,
                            rows: 4,
                            cols: 40,
                            required: true,
                            class: "contacts-form-text-area mb-4",
                            placeholder: "Laissez-moi un p'tit mot !"%>

            <div class= "hidden d-none">
              <%= f.text_field :nickname %>
            </div>

            <%= f.submit 'Envoyer', class: 'button-shadow button-shadow-white' %>
          </div>
        <% end %>
        <%= image_tag 'close.svg', id: 'close' %>
      </div>
    </div>
  </section>
</div>
